@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.container {
  @include laptop-large-screen-min {
    max-width: 1392px !important;
  }
  &--big {
    @include laptop-large-screen-min {
      max-width: 1432px !important;
    }
  }



  .row>* {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}