@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

button {
  border: 0;
  outline: 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  padding: 10px 21px;
  color: #fff;
  text-align: center;
  //font: 13px/18px $fm;
  border-radius: 5px;
  letter-spacing: -.03em;
  cursor: pointer;
  outline: 0;
  @include trn(.2s);



  &--purple {
    background: #6b70eb;
    &:hover {
      background: #484dcd;
    }
  }

  &--add-card {
    min-height: 26px;
    padding: 4px 17px;
    background: #6b70eb;
    &:hover {
      background: #484dcd;
    }
  }

  &--white {
    background: 0 0;
    border: 1px solid rgba(255,255,255,.5);
    color: #fff;

    &:hover {
      border: 1px solid #FFFFFF;
    }
  }

}

.links {
  text-decoration: none;
  color: #6b70eb;
  //font: 13px/18px $fsb;
  letter-spacing: -.03em;
  border-bottom: 1px dashed transparent;
  white-space: nowrap;
  @include trn(.2s);
  &:hover {
    border-color: #6b70eb;
  }
}