@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$macScreen: '.header-slider__image-mac';
$iphoneScreen: '.header-slider__image-iphone';
$interfaceScreen: '.header-slider__image-interface';


.header-slider {
  position: relative;

  &__wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 50%;
    top: 0;
    display: flex;
    justify-content: space-between;
    transition: none;
    transform: translate(-50%, 0) !important;
    padding-top: 40px;
  }
  &__container {
    width: 100%;
    height: 100vh;
  }
  $imageWrapper: '.header-slider__image-wrapper';
  $sliderContent: '.header-slider__content';

  #{$imageWrapper} {
    opacity: 0;
    animation: hideImage .5s
  }

  #{$sliderContent} {

    .header-slider__title {
      opacity: 0;
      animation: hideText .8s;
    }
    .button {
      opacity: 0;
      animation: hideText .3s;
    }

  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    //transition: none !important;
  }
  // Interface Static
  #{$interfaceScreen} {
    .header-slider__image-el-2 {
      opacity: 0;
      animation: hideInterface2 .3s;
    }
    .header-slider__image-el-3 {
      opacity: 0;
      animation: hideInterface3 .3s;
    }
  }
  // Iphone Static
  #{$iphoneScreen} {
    .header-slider__image-el-2 {
      opacity: 0;
      animation: hideIphone2 .3s;
    }
    .header-slider__image-el-3 {
      opacity: 0;
      animation: hideIphone3 .3s;
    }
    .header-slider__image-el-4 {
      opacity: 0;
      animation: hideIphone4 .3s;
    }
    .header-slider__image-el-5 {
      opacity: 0;
      animation: hideIphone5 .3s;
    }
  }
  // Mac Static
  #{$macScreen} {
    .header-slider__image-el-3 {
      opacity: 0;
      animation: hideMac3 .3s;
    }
    .header-slider__image-el-4 {
      opacity: 0;
      animation: hideMac4 .8s;
    }
    .header-slider__image-el-5 {
      opacity: 0;
      animation: hideMac5 .5s;
    }
    .header-slider__image-el-6 {
      opacity: 0;
      animation: hideMac6 .4s;
    }
    .header-slider__image-el-7 {
      opacity: 0;
      animation: hideMac7 .4s;
    }
    .header-slider__image-el-8 {
      opacity: 0;
      animation: hideMac8 .4s;
    }
    .header-slider__image-el-9 {
      opacity: 0;
      animation: hideMac9 .4s;
    }
    .header-slider__image-el-10 {
      opacity: 0;
      animation: hideMac10 .4s;
    }
    .header-slider__image-el-11 {
      opacity: 0;
      animation: hideMac11 .4s;
    }
  }

  &__item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //height: calc(100vh - 150px);
    height: 100vh;
    width: calc(100% - 270px);
    min-height: 600px;
    //display: none;
    &--active {
      //display: flex;

      // Interface Active
      #{$interfaceScreen} {
        .header-slider__image-el-2 {
          animation: showInterface2 .4s .6s forwards;
        }
        .header-slider__image-el-3 {
          animation: showInterface3 .4s .8s forwards;
        }
      }
      // Iphone Active
      #{$iphoneScreen} {
        .header-slider__image-el-2 {
          animation: showIphone2 1s 1.1s forwards;
        }
        .header-slider__image-el-3 {
          animation: showIphone3 1s 1.1s forwards;
        }
        .header-slider__image-el-4 {
          animation: showIphone4 1s 1.1s forwards;
        }
        .header-slider__image-el-5 {
          animation: showIphone5 1s 1.1s forwards;
        }
      }
      // Mac Active
      #{$macScreen} {
        .header-slider__image-el-3 {
          animation: showMac3 .8s 1s forwards;
        }
        .header-slider__image-el-4 {
          animation:  showMac4 .8s 1s forwards;
        }
        .header-slider__image-el-5 {
          animation:  showMac5 .8s 1s forwards;
        }
        .header-slider__image-el-6 {
          animation:  showMac6 .8s 1s forwards;
        }
        .header-slider__image-el-7 {
          animation:  showMac7 .8s 1s forwards;
        }
        .header-slider__image-el-8 {
          animation:  showMac8 .8s 1s forwards;
        }
        .header-slider__image-el-9 {
          animation:  showMac9 .8s 1s forwards;
        }
        .header-slider__image-el-10 {
          animation:  showMac10 .8s 1s forwards;
        }
        .header-slider__image-el-11 {
          animation:  showMac11 .8s 1s forwards;
        }
      }

      #{$imageWrapper} {
        animation: showImage .5s .4s forwards;
      }
      #{$sliderContent} {
        .header-slider__title {
          animation: showText .6s .3s forwards;
        }
        .button {
          animation: showText .8s .3s forwards;
        }
      }

    }
  }

  &__image-mac {
    position: relative;
    width: 572px;
    height: 566px;
    filter: drop-shadow(-30px 0px 30px rgba(0,0,0, .3));
  }
  &__image-iphone {
    position: relative;
    width: 485px;
    height: 661px;
    filter: drop-shadow(-30px 0px 30px rgba(0,0,0, .3));
  }
  &__image-interface {
    position: relative;
    width: 435px;
    height: 537px;
    filter: drop-shadow(-30px 0px 30px rgba(0,0,0, .3));
  }

  &__title {
    color: #1c1c1c;
    font-size: 65px;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 46px;
    span {
      display: block;
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  &__navigation {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    margin-left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  $navigation-icon: '.header-slider__navigation-icon';

  &__navigation-item {
    width: 135px;
    min-height: 154px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
    user-select: none;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:hover {
      background-color: #ffffff;
    }
    &--active {
      background-color: #ffffff;
      #{$navigation-icon} {
        //background: #193464 !important;
        //width: 55px;
        //height: 55px;
        //box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.16);
        &:before {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }

  &__navigation-icon {
    position: relative;
    width: 66px;
    height: 66px;
    box-shadow: inset 5px 4px 16px rgba(0, 0, 0, 0.16);
    background-color: #f5f5;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-bottom: 10px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: #193464;
      width: 100%;
      height: 100%;
      box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      transform: scale(1.2);
      transition: all .25s ease-out;
      opacity: 0;
      visibility: hidden;
    }
  }

}

/* Animation wrapper image */
@keyframes showImage {
  0% {
    opacity: 0;
    transform: translate3d(25%,0,0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0)
  }
}
@keyframes hideImage {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0)
  }
  100% {
    opacity: 0;
    transform: translate3d(-25%,0,0)
  }
}

/* Animation wrapper Text */
@keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(35%,0,0);
    transform: translate3d(35%,0,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@keyframes hideText {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-25%,0,0);
  }
}

/* Animation wrapper Iphone */
@keyframes showIphone2 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(-20px,-23px,0px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideIphone2 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(-20px,-23px,0px);
  }
}

@keyframes showIphone3 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(-120px,-72px,0px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideIphone3 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(-120px,-72px,0px);
  }
}

@keyframes showIphone4 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(-172px,0px,0px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideIphone4 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(-172px,0px,0px);
  }
}

@keyframes showIphone5 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(-174px,0px,0px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideIphone5 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0px);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(-174px,0px,0px);
  }
}

/* Animation wrapper Interface */
@keyframes showInterface2 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(30px, -26px, 0px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideInterface2 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0) !important;
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(31px, -26px, 0px);
  }
}

@keyframes showInterface3 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(-10px,0px,20px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}

@keyframes hideInterface3 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(-10px,0px,20px);
  }
}

/* Animation wrapper Mac */
@keyframes showMac3 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 0px, -65px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac3 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 0px, -65px);
  }
}

@keyframes showMac4 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(82px, -63px, -100px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac4 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(82px, -63px, -100px);
  }
}

@keyframes showMac5 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 0px, -35px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac5 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 0px, -35px);
  }
}

@keyframes showMac6 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 0px, -160px)
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac6 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px, 0px, -160px);
  }
}

@keyframes showMac7 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(28px, -77px, -125px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac7 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(28px, -77px, -125px);
  }
}

@keyframes showMac8 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px,-80px,-120px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac8 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(0px,-80px,-120px);
  }
}

@keyframes showMac9 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(150px,0px,-60px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac9 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(150px,0px,-60px);
  }
}

@keyframes showMac10 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(-12px,-12px,0px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac10 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(-12px,-12px,0px);
  }
}

@keyframes showMac11 {
  0% {
    opacity: 0;
    transform: perspective(500px) translate3d(190px,-108px,-40px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
}
@keyframes hideMac11 {
  0% {
    opacity: 1;
    transform: perspective(500px) translate3d(0px,0px,0);
  }
  100% {
    opacity: 0;
    transform: perspective(500px) translate3d(190px,-108px,-40px);
  }
}

