@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$activeSlide: '.header-slider__item--active';
$inActiveSlide: '.header-slider__item--inactive';

.header-slider {
  position: relative;

  //padding-top: 140px;
  //background: url(assets/img/background-dots.png) no-repeat right 0 bottom 120px;

  @include notebook-last-screen {
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    transition: none;

    @include mobile-small-screen {
      flex-direction: column;
    }
  }

  &__container {
    position: relative;
    height: calc(100vh - 140px);
    width: 100%;

    @include notebook-small-screen {
      height: calc(100vh - 100px);
    }

    @include mobile-small-screen {
      height: calc(100vh - 245px);
      min-height: 600px;
    }
  }

  &__title {
    color: #1c1c1c;
    font-size: 65px;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 46px;
    opacity: 0;
    transform: translate3d(35%, 0, 0);
    transition: all .25s ease-out;

    @include notebook-big-screen {
      font-size: 52px;
      line-height: normal;
      margin-bottom: 35px;
    }

    @include tablet-big-screen {
      font-size: 44px;
    }

    @include table-small-screen {
      font-size: 36px;
      margin-bottom: 26px;
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    #{$inActiveSlide} & {
      opacity: 0;
      transform: translate3d(-25%, 0, 0)
    }
  }

  &__title-inner-big {

  }

  &__title-inner-small {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;

    @include notebook-big-screen {
      font-size: 44px;
    }
    @include tablet-big-screen {
      font-size: 38px;
    }
    @include table-small-screen {
      font-size: 32px;
    }
  }

  &__button {
    opacity: 0;
    height: 54px;
    border-radius: 30px;
    padding: 0 35px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-out;
    transform: translate3d(50%, 0, 0);

    @include notebook-small-screen {
      height: 46px;
      padding: 0 20px;
      font-size: 13px;
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    #{$inActiveSlide} & {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &__item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 600px;
    width: 100%;

    @include mobile-big-screen {
      flex-direction: column;
      justify-content: center;
    }

    &--active {
      z-index: 100;
    }
  }

  &__image-wrapper {
    width: 50%;
    opacity: 0;
    transform: translate3d(25%, 0, 0);

    @include notebook-large-screen {
      width: auto;
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    #{$inActiveSlide} & {
      opacity: 0;
      transform: translate3d(-25%, 0, 0);
    }
  }

  &__content {
    width: 50%;

    @include notebook-large-screen {
      width: auto;
    }

    @include mobile-big-screen {
      margin-top: 30px;
    }

  }

  &__image-box {
    position: relative;
    filter: drop-shadow(-50px 0 30px rgba(0, 0, 0, .15));

    &--iphone {
      width: 485px;
      height: 661px;

      @include notebook-big-screen {
        width: 400px;
        height: 545px;
      }

      @include tablet-big-screen {
        width: 367px;
        height: 500px;
      }

      @include table-small-screen {
        width: 300px;
        height: 410px;
      }

      @include mobile-big-screen {
        width: 270px;
        height: 368px;
      }

      @include notebook-small-screen {
        width: 215px;
        height: 293px;
      }

    }

    &--mac {
      width: 572px;
      height: 566px;

      @include notebook-big-screen {
        width: 470px;
        height: 465px;
      }

      @include tablet-big-screen {
        width: 420px;
        height: 416px;
      }

      @include table-small-screen {
        width: 300px;
        height: 297px;
      }

    }

    &--interface {
      width: 435px;
      height: 537px;

      @include notebook-big-screen {
        width: 350px;
        height: 432px;
      }

      @include table-small-screen {
        width: 290px;
        height: 358px
      }

      @include mobile-big-screen {
        width: 260px;
        height: 321px;
      }

      @include notebook-small-screen {
        width: 220px;
        height: 272px;
      }

    }
  }

  &__image-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
    transition-delay: 1s;
    transition-duration: .5s;

    &--background {
      opacity: 1;
      transform: none;
    }

    &--iphone-1 {
      transform: translate3d(-4%, -4%, -10px);
    }

    &--iphone-2 {
      transform: translate3d(-25%, -11%, 0);
    }

    &--iphone-3 {
      transform: translate3d(-25%, 0%, -20px);
    }

    &--iphone-4 {
      transform: translate3d(-36%, 0, 0);
    }

    &--interface-1 {
      transform: translate3d(8%, -5%, 0px);
    }

    &--interface-2 {
      transform: translate3d(0%, -2%, 0);
    }

    &--mac-1 {
      transform: translate3d(-9%, -5%, 0);
    }

    &--mac-2 {
      transform: translate3d(19%, -18%, 0);
    }

    &--mac-3 {
      transform: translate3d(19%, -18%, 0);
    }

    &--mac-4 {
      transform: translate3d(-8%, 0%, -25px);
    }

    &--mac-5 {
      transform: translate3d(-11%, 0, -17px);
    }

    &--mac-6 {
      transform: translate3d(11%, 0%, 0);
    }

    &--mac-7 {
      transform: translate3d(6%, 0%, 0);
    }

    &--mac-8 {
      transform: translate3d(30%, -10%, 0);
    }

    &--mac-9 {
      transform: translate3d(0%, -3%, 0);
    }

    &--mac-10 {
      transform: translate3d(18%, -10%, 0);
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__navigation {
    position: relative;
    height: calc(100vh - 140px);
    margin-left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    z-index: 100;

    @include notebook-large-screen {
      margin-left: 75px;
    }

    @include mobile-big-screen {
      margin-left: 15px;
    }

    @include mobile-small-screen {
      height: auto;
      min-height: auto;
      margin-left: 0;
      flex-direction: row;
    }

  }

  $navigation-icon: '.header-slider__navigation-icon';

  &__navigation-item {
    width: 135px;
    min-height: 154px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
    user-select: none;

    @include notebook-small-screen {
      width: 120px;
      min-height: 140px;
      justify-content: center;
      font-size: 14px;
      line-height: normal;
    }

    @include mobile-little-screen {
      font-size: 12px;
      min-height: 120px;
      padding: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include notebook-small-screen {
        margin-bottom: 0;
        margin-right: 15px;
      }

      @include mobile-little-screen {
        margin-right: 10px;
      }
    }

    &:hover {
      background-color: #ffffff;
    }

    &--active {
      background-color: #ffffff;

      #{$navigation-icon} {
        &:before {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }

  &__navigation-icon {
    position: relative;
    width: 66px;
    height: 66px;
    box-shadow: inset 5px 4px 16px rgba(0, 0, 0, 0.16);
    background-color: #f5f5;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-bottom: 10px;

    @include notebook-small-screen {
      width: 44px;
      height: 44px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: #193464;
      width: 100%;
      height: 100%;
      box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      transform: scale(1.2);
      transition: all .25s ease-out;
      opacity: 0;
      visibility: hidden;
    }
  }

}
