@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$activeSlide: '.header-slider__item--active';
$inActiveSlide: '.header-slider__item--inactive';

.header-slider {
  position: relative;
  padding-top: 140px;
  overflow: hidden;
  background: url(assets/img/background-dots.png) no-repeat right 0 bottom 120px;

  @include tablet-big-screen {
    padding-top: 100px;
  }

  @include mobile-small-screen {
    padding-bottom: 20px;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    width: 100%;
    height: calc(100vh - 150px);
    z-index: 600;

    &--hide {
      opacity: 0;
      visibility: hidden;
      transform: scale(1.2);
    }
  }

  &__overlay-circle {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    max-width: 518px;
    fill: transparent;
    transition: 0.35s stroke-dashoffset;
    stroke-dasharray: 1608;
    stroke-dashoffset: 1608;
    stroke: #8996ae;
    stroke-width: 2;

    &--active {
      stroke-dashoffset: 0;
    }

    svg {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%) rotate(-90deg);
    }

    circle {
      transition: all .8s ease-in-out;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    transition: none;

    @include mobile-small-screen {
      flex-direction: column;
    }
  }

  &__container {
    position: relative;
    height: calc(100vh - 140px);
    width: 100%;

    @include tablet-big-screen {
      height: calc(100vh - 100px);
    }

    @include mobile-small-screen {
      height: calc(100vh - 245px);
      min-height: 600px;
    }
  }

  &__title {
    color: #1c1c1c;
    font-size: 65px;
    font-weight: 800;
    line-height: 62px;
    margin-bottom: 46px;
    opacity: 0;
    transform: translate3d(35%, 0, 0);
    transition: all .25s ease-out;

    @include laptop-big-screen {
      font-size: 52px;
      line-height: normal;
      margin-bottom: 35px;
    }

    @include tablet-big-screen {
      font-size: 3.6vw;
      margin-bottom: 2.73vw;
    }

    @include mobile-big-screen {
      font-size: 5.21vw;
    }

    @include mobile-small-screen {
      font-size: 6.25vw;
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    #{$inActiveSlide} & {
      opacity: 0;
      transform: translate3d(-25%, 0, 0)
    }
  }

  &__title-inner-big {

  }

  &__title-inner-small {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;

    @include laptop-big-screen {
      font-size: 3.05vw;
    }

    @include mobile-big-screen {
      font-size: 4.17vw;
    }
    @include mobile-small-screen {
      font-size: 7.08vw;
    }
  }

  &__button {
    opacity: 0;
    height: 54px;
    border-radius: 30px;
    padding: 0 35px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-out;
    transform: translate3d(50%, 0, 0);

    @include tablet-big-screen {
      height: 46px;
      min-height: auto;
      padding: 0 20px;
      font-size: 13px;
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    #{$inActiveSlide} & {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &__item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 600px;
    width: 100%;

    @include mobile-big-screen {
      flex-direction: column;
      justify-content: center;
    }

    &--active {
      z-index: 100;
    }
  }

  &__image-wrapper {
    opacity: 0;
    width: 50%;
    transform: translate3d(25%, 0, 0);

    @include mobile-big-screen {
      width: auto;
      margin-bottom: 30px;
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    #{$inActiveSlide} & {
      opacity: 0;
      transform: translate3d(-25%, 0, 0);
    }
  }

  &__content {
    width: 50%;

    @include mobile-big-screen {
      width: auto;
    }
  }

  &__image-box {
    position: relative;
    filter: drop-shadow(-50px 0 30px rgba(0, 0, 0, .15));

    @include tablet-big-screen {
      margin: 0 auto;
    }

    &--iphone {
      width: 485px;
      height: 661px;

      @include laptop-big-screen {
        width: 27.77vw;
        height: 37.84vw;
      }

      @include mobile-big-screen {
        width: 35.20vw;
        height: 47.98vw;
      }

      @include mobile-small-screen {
        width: 52.08vw;
        height: 72.91vw;
      }
    }

    &--mac {
      width: 572px;
      height: 566px;

      @include laptop-big-screen {
        width: 32.64vw;
        height: 32.30vw;
      }

      @include tablet-big-screen {
        width: 32.8vw;
        height: 32.5vw;
      }

      @include mobile-big-screen {
        width: 45.63vw;
        height: 45.11vw;
      }

      @include mobile-small-screen {
        width: 66.65vw;
        height: 66.04vw;
      }

    }

    &--interface {
      width: 435px;
      height: 537px;

      @include laptop-big-screen {
        width: 24.30vw;
        height: 30vw;
      }

      @include mobile-big-screen {
        width: 34.55vw;
        height: 42.63vw;
      }
      @include mobile-small-screen {
        width: 58.33vw;
        height: 72.08vw;
      }
    }
  }

  &__image-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
    transition-delay: 1s;
    transition-duration: .5s;

    &--background {
      opacity: 1;
      transform: none;
    }

    &--iphone-1 {
      transform: translate3d(-4%, -4%, -10px);
    }

    &--iphone-2 {
      transform: translate3d(-25%, -11%, 0);
    }

    &--iphone-3 {
      transform: translate3d(-25%, 0%, -20px);
    }

    &--iphone-4 {
      transform: translate3d(-36%, 0, 0);
    }

    &--interface-1 {
      transform: translate3d(8%, -5%, 0px);
    }

    &--interface-2 {
      transform: translate3d(0%, -2%, 0);
    }

    &--mac-1 {
      transform: translate3d(-9%, -5%, 0);
    }

    &--mac-2 {
      transform: translate3d(19%, -18%, 0);
    }

    &--mac-3 {
      transform: translate3d(19%, -18%, 0);
    }

    &--mac-4 {
      transform: translate3d(-8%, 0%, -25px);
    }

    &--mac-5 {
      transform: translate3d(-11%, 0, -17px);
    }

    &--mac-6 {
      transform: translate3d(11%, 0%, 0);
    }

    &--mac-7 {
      transform: translate3d(6%, 0%, 0);
    }

    &--mac-8 {
      transform: translate3d(30%, -10%, 0);
    }

    &--mac-9 {
      transform: translate3d(0%, -3%, 0);
    }

    &--mac-10 {
      transform: translate3d(18%, -10%, 0);
    }

    #{$activeSlide} & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__navigation {
    position: relative;
    height: calc(100vh - 140px);
    margin-left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    z-index: 100;

    @include tablet-big-screen {
      margin-left: 35px;
      height: calc(100vh - 100px);
    }

    @include mobile-small-screen {
      height: auto;
      min-height: auto;
      margin-left: 0;
      flex-direction: row;
    }

  }

  $navigation-icon: '.header-slider__navigation-icon';

  &__navigation-item {
    width: 135px;
    min-height: 154px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
    user-select: none;

    @include tablet-big-screen {
      width: 120px;
      min-height: 140px;
      justify-content: center;
      font-size: 14px;
      line-height: normal;
    }

    @include mobile-small-screen {
      font-size: 12px;
      min-height: 120px;
      padding: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include mobile-small-screen {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }

    &:hover {
      background-color: #ffffff;

      @include tablet-big-screen {
        background-color: initial;
      }
    }

    &--active {
      background-color: #ffffff;

      @include tablet-big-screen {
        background-color: #ffffff!important;
      }
    }
  }

  &__navigation-icon {
    position: relative;
    width: 66px;
    height: 66px;
    box-shadow: inset 5px 4px 16px rgba(0, 0, 0, 0.16);
    background-color: #f5f5;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-bottom: 10px;

    @include mobile-big-screen {
      width: 44px;
      height: 44px;
    }

  }

}
