extends ../templates/main

block variables
    - var title = 'XDLE'

block content

    //.header__background
    //    .header__background-screen.header__background-screen--full.header__background-screen--resize
    //        .header__background-dots
    //        .header__background-circle

    include ../blocks/header-slider/header-slider
    include ../blocks/work/work