extends ../templates/main

block variables
    - var title = 'XDLE'

block content
    .header-slider
        .layout.header-slider__wrapper
            .header-slider__container
                //.header-slider__item
                //    .header-slider__image-wrapper
                //        .header-slider__image-iphone
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-1
                //                img(src="src/blocks/header-slider/assets/img/iphone/iphone-el-1.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-1
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-2
                //                img(src="src/blocks/header-slider/assets/img/iphone/iphone-el-2.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-2
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-3
                //                img(src="src/blocks/header-slider/assets/img/iphone/iphone-el-3.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-3
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-4
                //                img(src="src/blocks/header-slider/assets/img/iphone/iphone-el-4.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-4
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-5
                //                img(src="src/blocks/header-slider/assets/img/iphone/iphone-el-5.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-5
                //    .header-slider__content
                //        h3.header-slider__title
                //            span мобильные
                //            | приложения
                //        a(href="#").button.button__yellow посмотреть проекты

                //.header-slider__item
                //    .header-slider__image-wrapper
                //        .header-slider__image-mac
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-9
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-9.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-9
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-1
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-1.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-1
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-2
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-2.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-2
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-3
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-3.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-3
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-4
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-4.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-4
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-5
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-5.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-5
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-6
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-6.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-6
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-7
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-7.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-7
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-8
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-8.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-8
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-10
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-10.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-10
                //            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-11
                //                img(src="src/blocks/header-slider/assets/img/mac/mac-el-11.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-11
                //    .header-slider__content
                //        h3.header-slider__title
                //            span создание
                //            | интерфейсов
                //        a(href="#").button.button__yellow посмотреть проекты

                .header-slider__item
                    .header-slider__image-wrapper
                        .header-slider__image-interface
                            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-1
                                img(src="src/blocks/header-slider/assets/img/interface/interface-el-1.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-1
                            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-2
                                img(src="src/blocks/header-slider/assets/img/interface/interface-el-2.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-2
                            .header-slider__image-item.header-slider__image-item--el.header-slider__image-item--el-3
                                img(src="src/blocks/header-slider/assets/img/interface/interface-el-3.png", alt="").header-slider__image.header-slider__image--el.header-slider__image-el-3
                    .header-slider__content
                        h3.header-slider__title
                            span создание
                            | интерфейсов
                        a(href="#").button.button__yellow посмотреть проекты

            .header-slider__navigation
                .header-slider__navigation-item
                    .header-slider__navigation-icon(style="background: url(src/blocks/header-slider/assets/img/icon-phone.png)")
                    | Мобильные приложения
                .header-slider__navigation-item.header-slider__navigation-item--active
                    .header-slider__navigation-icon(style="background: url(src/blocks/header-slider/assets/img/icon-earth.png)")
                    | Создание сайтов
                .header-slider__navigation-item
                    .header-slider__navigation-icon(style="background: url(src/blocks/header-slider/assets/img/icon-setting.png)")
                    | Создание интерфейсов

    include ../blocks/work/work