@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__item {
    position: relative;
    padding-bottom: 100%;

    @include tablet-big-screen {
      padding-bottom: 200%;
    }
  }

  &__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-content {
    position: absolute;
    padding: 15px;
    background: rgba(245, 245, 245, .25);
    backdrop-filter: blur(10px);
    height: 100%;
    transition: all .25s ease-out;
    transform: scale(.8);

    &:hover {
      transform: scale(1);
    }
  }

  &__item-title {
    color: #1c1c1c;
    font-size: 23px;
    font-weight: 800;
  }

  &__item-desc {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
  }

  &__item-link {
    min-height: 36px;
    border: 1px solid #193464;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: all .3s ease-out;
    border-radius: 20px;
    background: #193464;
  }

}