.work
    .work__item
        img(src="src/blocks/work/assets/img/work-image1.jpg").work__item-image
        .work__item-content
            .work__item-title Title Name
            .work__item-desc Desc text content. Lorem
            a(href="#").work__item-link Link work view

    .work__item
        img(src="src/blocks/work/assets/img/work-image2.jpg").work__item-image
        .work__item-content
            .work__item-title Title Name
            .work__item-desc Desc text content. Lorem
            a(href="#").work__item-link Link work view
    .work__item
        img(src="src/blocks/work/assets/img/work-image3.jpg").work__item-image
        .work__item-content
            .work__item-title Title Name
            .work__item-desc Desc text content. Lorem
            a(href="#").work__item-link Link work view
    .work__item
        img(src="src/blocks/work/assets/img/work-image4.jpg").work__item-image
        .work__item-content
            .work__item-title Title Name
            .work__item-desc Desc text content. Lorem
            a(href="#").work__item-link Link work view
    .work__item
        img(src="src/blocks/work/assets/img/work-image5.jpg").work__item-image
        .work__item-content
            .work__item-title Title Name
            .work__item-desc Desc text content. Lorem
            a(href="#").work__item-link Link work view
    .work__item
        img(src="src/blocks/work/assets/img/work-image6.jpg").work__item-image
        .work__item-content
            .work__item-title Title Name
            .work__item-desc Desc text content. Lorem
            a(href="#").work__item-link Link work view