.socials__menu
    a(href="#")
        img(src="src/blocks/social-link/assets/img/twitter.svg" alt="twitter")
    a(href="#")
        img(src="src/blocks/social-link/assets/img/facebook.svg" alt="facebook")
    a(href="#")
        img(src="src/blocks/social-link/assets/img/linkedin.svg" alt="linkedin")
    a(href="#")
        img(src="src/blocks/social-link/assets/img/youtube.svg" alt="youtube")