$laptop-big-screen: (max-width: 1439px);
$tablet-big-screen: (max-width: 1279px);
$mobile-big-screen: (max-width: 767px);
$mobile-small-screen: (max-width: 480px);

@mixin laptop-big-screen {
  @media #{$laptop-big-screen} {
    @content
  }
}

@mixin tablet-big-screen {
  @media #{$tablet-big-screen} {
    @content
  }
}

@mixin mobile-big-screen {
  @media #{$mobile-big-screen} {
    @content
  }
}

@mixin mobile-small-screen {
  @media #{$mobile-small-screen} {
    @content
  }
}