@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";


.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &--scroll {
    background: rgba(94, 89, 184, .4); // rgba(21, 23, 35, .7);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  }

  $scroll: '.header--scroll';
}