header.header
    .header__top
        .layout.header__layout
            .header__wrapper
                .header__logo
                    include ../logo/logo

                .header__contact-wrapper
                    .header__menu
                        a(href="#").header__menu-link Работы
                        a(href="#").header__menu-link Контакты
                    .header__contact
                        a(href="mailto:info@xdle.ru").header__contact-link
                            span.header__contact-link--icon.header__contact-link--icon-email
                            | info@xdle.ru
                        a(href="tel:+7(812)317-7-157").header__contact-link
                            span.header__contact-link--icon.header__contact-link--icon-phone
                            | +7 (812) 317-7-157
                        a(href="#").header__button.button.button--blue-border Оставить заявку

                .header__contact-mobile
                    a(href="tel:+7(812)317-7-157").header__contact-link.header__contact-link--mobile
                        span.header__contact-link--icon.header__contact-link--icon-phone
                        | +7 (812) 317-7-157

                    include ../burger-menu/burger-menu